venv/
*.db
.pytest_cache/
__pycache__/
.DS_Store
.env
build/
dist/
*.egg-info
dev/
code/
*.spec
output-scan/
imei.py
src/
testing.py
coba-coba/
vtrotasi/backup_keys.zip
vtrotasi/apimaker.py
vtrotasi/.dbeaver
